.student__media-item {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.student__media-item:hover {
  opacity: .7;
  transition: .2s ease;
}

.student__media-item:last-of-type {
  margin-right: 0;
}