.technologies__title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 90px 0 26px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

@media screen and (max-width: 460px){
  .technologies__title {
    margin: 60px auto 24px;
    font-size: 30px;
    line-height: 36.31px;
    letter-spacing: 0.04em;
  }
}