.menu-btn {
  display: none;
  z-index: 2;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  right: 0;
  padding: 18px 30px 18px;
}

.menu-btn:hover .menu-btn__line {
  opacity: .4;
  transition: .1s ease;
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}

@media screen and (max-width: 460px) {
  .menu-btn {
    padding: 28px 10px 0;
  }
}