.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__state::before{
  transform: translateX(-16px);
  background-color: #fff;
}

.checkbox__input:checked + .checkbox__state {
  background-color: #2be080;
}
