.not-found__redirect {
  margin: 184px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  color: #3456F3;
}

@media screen and (max-width: 460px) {
  .not-found__redirect {
    font-size: 12px;
    line-height: 14.52px;
  }
}