.section-title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26,63px;
}

.section-title::after {
  display: block;
  content: "";
  margin-top: 23px;
  border-bottom: 1px solid #000;
  width: 100%;
  max-width: 1140px;
}