.login__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 40px auto;
}

@media screen and (max-width: 460px) {
  .login__title {
    text-align: center;
    margin: 50px auto 80px;
  }
}