.card__like {
  width: 30px;
  height: 30px;
  background-image: url('../../../images/save.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: -20px;
}