.header__btn-login {
  width: 76px;
  height: 32px;
  margin-right: 70px;
  border-radius: 3px;
  border:none;
  background-color: #2BE080;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}