.checkbox__state {
  display: flex;
  align-items: center;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  background-color: #343434;
  position: absolute;
  cursor: pointer;
  transition: linear .1s;
}

.checkbox__state::before {
  content: '';
  left: 18px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #A0A0A0;
  position: absolute;
  transition: linear .1s;
}
