.checkbox__state {
  display: flex;
  align-items: center;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  background-color: #2be080;
  position: absolute;
  cursor: pointer;
  transition: linear .1s;
}

.checkbox__state::before {
  content: '';
  left: 18px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  transition: linear .1s;
}