.search-form__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-image: url('../../../images/icon-search.svg');
  background-color: #3456F3;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative;
  right: 45px;
}

.search-form__btn:hover {
  opacity: .7;
  transition: .2s ease;
}

@media screen and (max-width: 768px){
  .search-form__btn {
    right: 20px;
    position: absolute;
  }
}

@media screen and (max-width: 460px) {
  .search-form__btn {
    right: 20px;
  }
}