.main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 320px;
  justify-content: center;
  margin: 82px auto 122px;
}

@media screen and (max-width: 768px) {
  .main__body {
    height: 580px;
  }
}