body {
  margin: 0 auto;
  max-width: 1280px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/header/__btn-singup/header__btn-singup.css);
@import url(./blocks/header/__btn-login/header__btn-login.css);

@import url(./blocks/main/main.css);
@import url(./blocks/main/__body/main__body.css);
@import url(./blocks/main/__title/main__title.css);
@import url(./blocks/main/__logo/main__logo.css);
@import url(./blocks/main/__footer/main__footer.css);
@import url(./blocks/main/__footer-link/main__footer-link.css);

@import url(./blocks/project/project.css);

@import url(./blocks/project/__back-end-subtitle/project__back-end-subtitle.css);
@import url(./blocks/project/__back-end-title/project__back-end-title.css);
@import url(./blocks/project/__back-end-title/_theme/project__back-end-title_theme_back-end.css);
@import url(./blocks/project/__back-end/project__back-end.css);

@import url(./blocks/project/__front-end/project__front-end.css);
@import url(./blocks/project/__front-end-title/project__front-end-title.css);
@import url(./blocks/project/__front-end-title/_theme/project__front-end-title_theme_front-end.css);
@import url(./blocks/project/__front-end-subtitle/project__front-end-subtitle.css);

@import url(./blocks/project/__progress-bar/project__progress-bar.css);
@import url(./blocks/project/__text-item/project__text-item.css);
@import url(./blocks/project/__text-subtitle/project__text-subtitle.css);
@import url(./blocks/project/__text-title/project__text-title.css);
@import url(./blocks/project/__texts/project__texts.css);

@import url(./blocks/section-title/section-title.css);

@import url(./blocks/technologies/technologies.css);
@import url(./blocks/technologies/__title/technologies__title.css);
@import url(./blocks/technologies/__subtitle/technologies__subtitle.css);
@import url(./blocks/technologies/__stack/technologies__stack.css);
@import url(./blocks/technologies/__stack-name/technologies__stack-name.css);
@import url(./blocks/technologies/__stack-item/technologies__stack-item.css);

@import url(./blocks/student/student.css);
@import url(./blocks/student/__title/student__title.css);
@import url(./blocks/student/__texts/student__texts.css);
@import url(./blocks/student/__text/student__text.css);
@import url(./blocks/student/__subtitle/student__subtitle.css);
@import url(./blocks/student/__photo/student__photo.css);
@import url(./blocks/student/__media/student__media.css);
@import url(./blocks/student/__media-item/student__media-item.css);
@import url(./blocks/student/__info/student__info.css);

@import url(./blocks/portfolio/portfolio.css);
@import url(./blocks/portfolio/__title/portfolio__title.css);
@import url(./blocks/portfolio/__link/portfolio__link.css);
@import url(./blocks/portfolio/__link-item/portfolio__link-item.css);
@import url(./blocks/portfolio/__wrapper-item/portfolio__wrapper-item.css);