.technologies__stack-item {
  display: flex;
  justify-content: center;
  width: 84px;
  height: 54px;
  border-radius: 10px;
  background-color: #E8E8E8;
}

.technologies__stack-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px){
  .technologies__stack-item {
    min-width: 84px;
    min-height: 57px;
  }
}